@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #670627;
  --color-secondary: #3C0316;
  --color-cta: #FFB300;
  --color-background: #F9FAFB;
  --color-bg-gradient: linear-gradient(90deg,rgba(60, 3, 22, 1) 0%, rgba(103, 6, 39, 1) 100%);
  --color-text: #FEFAE0;
  
  --font-heading: 'Unbounded', sans-serif;
  --font-body: Arial, sans-serif;
}
